.player-show {
    position: relative;
    border: 5px solid rgb(137, 127, 145);
    padding: 25px;
    border-radius: 50px;
    margin: 15px;
    box-shadow: 0px 3px 4px rgb(224, 13, 13);
    background-color: rgb(216, 232, 247);

}

.player {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 2px solid rgb(74, 36, 37);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.player-details {
    text-align: center;
}